// import poppins from google fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;

  // custom scrollbar
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: #202020;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #141414;
  }
}

html,
body,
#__nuxt {
  height: 100%;
  overflow-x: hidden;
}

.carousel__icon {
  z-index: 5;
  fill: white !important;
}

.carousel__prev {
  z-index: 5;
}
